PROJECT_NAME=SkillSync AI
API_VERSION=v1
ENVIRONMENT=development

BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:80

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=skillsync_db
POSTGRES_USER=skillsync_user
POSTGRES_PASSWORD=skillsync_password

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=TXOX5ZC8rjq-gRpOp_rToUT3JzUImnaU_KUFRpXuDcvF_Bmu4xH0tjDA5L4N3VSMlVgASnTYx_4mJ6pGnzYh5g
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

VITE_API_BASE_URL=/api/v1